# SPDX-FileCopyrightText: 2016-2024 Technical University of Munich
#
# SPDX-License-Identifier: BSD-3-Clause

# Build directory
build/
build_*/

# Eclipse files
.cproject
.project
.settings/

# KDevelop
.kdev4/
*.kdev4
