# SPDX-FileCopyrightText: 2016-2024 Technical University of Munich
#
# SPDX-License-Identifier: BSD-3-Clause

[submodule "submodules/utils"]
	path = submodules/utils
	url = https://github.com/TUM-I5/utils.git
